<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>

<style>
  img {
    border: 1px solid #ccc;
    margin: 5px;
    height: 50vh;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
  }

  .failed {
    color: red !important;
    background-color: white !important;
  }

  .ok {
    color: black !important;
    background-color: white !important;
  }
</style>

<script>
</script>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-auto">
        <h1>Reporte VRT Ghost ({{ process }})</h1>
      </div>
      <div class="row justify-content-center">
        <div class="col col-auto">
          <h5>Evaluating Ghost versions: {{ prev }} vs {{ post }}</h5>
        </div>
        <div class="row justify-content-center">
          <div class="col col-auto">
            <p>Legend: Red naming on scenario or step means it failed the maximum selected difference of 8%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center gy-2">
    <!-- Scenario accordion -->
    <div class="col col-xxl-8">
      <div class="accordion accordion-flush" id="accordion-scenarios">
        {% for scenario in scenarios %}
        {% if scenario.failed %}
        {% set class = 'failed' %}
        {% set icon = 'bi bi-x-lg' %}
        {% else %}
        {% set icon = 'bi bi-check-lg' %}
        {% set class = 'ok' %}
        {% endif %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="scenario-header-{{ loop.index }}">
            <button class="accordion-button {{ class }} collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#scenario-data-{{ loop.index }}" aria-expanded="true"
              aria-controls="#scenario-data-{{ loop.index }}">
              <i class="{{ icon }}"></i>Scenario {{ loop.index }}: {{ scenario.name }}
            </button>
          </h2>
          <div id="scenario-data-{{ loop.index }}" class="accordion-collapse collapse"
            aria-labelledby="scenario-header-{{ loop.index }}" data-bs-parent="#accordion-scenarios">
            <div class="accordion-body">

              <!-- Step accordion -->
              {% set sidx = loop.index %}
              <div class="accordion" id="accordion-scenario-{{ sidx }}-steps">
                {% for step in scenario.steps %}
                {% if step.failed %}
                {% set class = 'failed' %}
                {% set icon = 'bi bi-x-lg' %}
                {% else %}
                {% set icon = 'bi bi-check-lg' %}
                {% set class = 'ok' %}
                {% endif %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="step-header-{{ sidx }}-{{ loop.index }}">
                    <button class="accordion-button {{ class }}  collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#step-data-{{ sidx }}-{{ loop.index }}" aria-expanded="true"
                      aria-controls="#step-data-{{ sidx }}-{{ loop.index }}">
                      <i class="{{ icon }}"></i>Step {{ loop.index }} ({{ step.data.misMatchPercentage | float |
                      round(1) }}%): {{ step.name }}
                    </button>
                  </h2>
                  <div id="step-data-{{ sidx }}-{{ loop.index }}" class="accordion-collapse collapse"
                    aria-labelledby="step-header-{{ sidx }}-{{ loop.index }}"
                    data-bs-parent="accordion-scenario-{{ sidx }}-steps">
                    <div class="accordion-body">
                      <div class="row justify-content-center gy-2">
                        <div class="row justify-content-center gy-2">
                          <div class="col col-auto">
                            <h4>Difference</h4>
                          </div>
                        </div>
                        <div class="row justify-content-center gy-2">
                          <div class="col col-auto">
                            <hr>
                            <img loading="lazy" class="img-fluid step-image" src="{{ step.image }}"
                              alt="step in Ghost version {{ prev }}" />
                          </div>
                        </div>
                        <div class="row justify-content-center gy-2">
                          <div class="col col-auto">
                            <h4>Previous ({{ prev }})</h4>
                          </div>
                        </div>
                        <div class="row justify-content-center gy-2">
                          <div class="col col-auto">
                            <hr>
                            <img loading="lazy" class="img-fluid step-image" src="{{ step.data.prev }}"
                              alt="step in Ghost version {{ post }}" />
                          </div>
                        </div>
                        <div class="row justify-content-center gy-2">
                          <div class="col col-auto">
                            <h4>Post ({{ post }})</h4>
                          </div>
                        </div>
                        <div class="row justify-content-center">
                          <div class="col col-auto">
                            <hr>
                            <img loading="lazy" class="img-fluid step-image" src="{{ step.data.post }}"
                              alt="difference" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

</html>
